body  {
   background: url(marriage-918864.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  /* background: #00ECB9;  */
  font-family: monospace;
  font-weight: 50;
  /* width: 45%;
  margin: 10px auto 0 auto; */

}

h1{
  color: #fff;
  font-weight: 50;
  font-size: 20px;
  margin: 20px 0px 10px;
}

#clockdiv{
    /* font-family: sans-serif; */
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
   /*  margin-top: 10%; */
}

#clockdiv > div{
   /*  padding: 10px;
   border-radius: 3px;
   background: #00BF96; */
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 22px;
    /* background: #00816A; */
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.logo{
  background: #fff;
  font-size: 25px;
}
.mainname{
  font-size: 50px;
}

footer{
   background: wheat;
    font-size: 20px;
    margin-top: 10px;
}