<div class="jumbotron imgkes">
  <h1 style="color:aliceblue">Coming Soon!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="company-logo"><br>
    <i style="color: #000000;font-weight: 900;background-color: white;padding: 5px;">Looking forward to serve you all...</i>
  </p>
  <div class='wrap'>
  <div class='time-to'>
    Time remaining for our launch...
    <span countdown='' date='April 15, 2016 12:00:00'>&nbsp;</span>
  </div>
</div>
</div>

<div class="row marketing">
  <h4>What's it about?</h4>
  <p>
      dfjklaj akjdf  aldfjiwe mdsfuem oidf, iaoeeef  lafjw, isaf alj aldjfafj a ei jadf adkfa df sss
  </p>

  <h4>ajsje kjdf lajkdf</h4>
  <p>
    afskdjf..afdljf asjdfkjaksdjf ajdkaljei fladjfa jaslf a dkf,x aidjf a,djfalf;dajf jadlfja dka;f dfafd akjfdak  kdjfa;jd, akdfjadfa 
  </p>

  <h4>sdjflkaj fafds</h4>
  <p>sajflkajdfla kjdfal  adlfj alkdj alkdjf al fdkjfak fakj fdkljf alkdfj alfjda fjadf akjfd fjaksjf ajf dafjdla fld f........</p>
</div>
